
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #222 !important;
    color: #fff;
}

.dark-mode .table {
    color: #fff;
}

.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}
